
data/*.json
node_modules
.vscode
.venv
.env
.env.testing
ExecuçãoPrograma.bat
ConcursosAtivos.csv
__pycache__
.vercel
.env.development.local
.env.development.local
src refactore
node_modules/https/package.json
.env.testing
